:root {
    --bg-color: #0a0a0a;
    --card-bg: #141414;
    --accent-color: #E48A06;
    --text-color: #f0f0f0;
    --border-color: #333;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 15px 30px;
    background: #000;
    border-bottom: 2px solid var(--accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#debug-bar {
    background: #1a1500;
    color: #ffcc00;
    font-size: 11px;
    padding: 8px 30px;
    font-family: monospace;
    border-bottom: 1px solid #333;
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}

#map-container, #timeline-container {
    background: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#map { height: 100%; width: 100%; }

.panel-header { padding: 12px; background: #1a1a1a; border-bottom: 1px solid #333; }
h3 { margin: 0; font-size: 13px; color: var(--accent-color); text-transform: uppercase; }

/* Estilos de la Escala de Tiempo */
#timeline-scale {
    display: flex;
    margin-left: 130px; /* Alineado con las barras */
    border-bottom: 1px solid #333;
    background: #111;
}

.scale-item {
    flex: 1;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    color: #666;
    border-left: 1px solid #222;
}

#gantt { flex: 1; overflow-y: auto; padding: 10px 0; }

.timeline-row {
    display: grid;
    grid-template-columns: 130px 1fr;
    background: transparent;
    margin-bottom: 2px;
    height: 35px;
    align-items: center;
}

.ut-label {
    padding-left: 10px;
    font-size: 11px;
    font-weight: bold;
    color: var(--accent-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bar-box { 
    position: relative; 
    width: 100%; 
    height: 100%; 
    background-image: linear-gradient(to right, #222 1px, transparent 1px);
    background-size: 25% 100%; /* Representa los años */
}

.bar {
    position: absolute;
    height: 22px;
    top: 6px;
    background: linear-gradient(90deg, var(--accent-color), #b86f05);
    border-radius: 2px;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    overflow: hidden;
    white-space: nowrap;
}

.muleto-bar {
    background: #666;
    color: #fff;
}
